



* {margin: 0; padding: 0;} /* обнуляем отступы */
body {
    background: rgb(44, 172, 211);
}
html,body {
    height: 100%; /* задаем высоту тела документа */
    overflow-y: visible;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", Arial, sans-serif;
}



h4{
    font-size: 20px;
    color: #404040;
    font-weight: 400;
}


.button{
    position: relative;
    padding: 20px;
}

a.button{
    color:white;
    text-decoration: none;
}

.relative{
    position: relative;
}

.color{
    color: #2490bc;
}

.service{

    background: #f9f8f8;
    position: relative;
    display: block;
    width: 100%;

    color: #737373;
    font-weight: 300;
    padding-bottom: 30px;

}

.service h1{
    font-size: 40px;
    line-height: 100px;
    text-transform: uppercase;
    color:rgb(226, 90, 90);
}

.service-icon{
    /*padding:20px;
    border-radius: 130px;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #ececec;
    color: #2490BC;
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 15px;
    width:85px;*/

}

.border{
    color:white;
}

.service-icon:hover{
    /*color: #fff;
    background-color: #2490BC;
    border: 1px solid #2490BC;*/
    transform: rotate( 360deg );

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.shadows {
    position: relative;
    width: 100%;
    height: 22px;
    background: url("/public/abtemplate/images/section-shadows-lg.png") bottom no-repeat transparent;
    background-size: 100%;
    z-index: 10;
    margin: 0 auto;
}





.best_of_best{
    position: relative;
    padding-bottom: 30px;
    color: #737373;
    background:white;
}

.best_of_best h3, .clients h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    color:rgb(226, 90, 90);
}

.best_of_best h4 {
    color: #404040;
    font-size: 16px;
}

.best_of_best i {
    width: 50px;
    color: #2490BC;
}





.progress {
    margin-bottom: -20px;
    height: 10px;
    background-image: none;
    background-color: #ffffff;
    border-radius: 0px;
}

.progress-bar{
    margin-bottom: 0px;
    background-image: none;
    background-color: rgba(39, 171, 199, 0.73)
}


.content{
    background: white;

}

.map_per{


}

.wrapper{
    height:100%;
}


.perspective_main{

    -webkit-transform: perspective(500px) rotateY(5deg);
    -moz-transform: perspective(500px) rotateY(5deg);
    -o-transform: perspective(500px) rotateY(5deg);
    -ms-transform: perspective(500px) rotateY(5deg);
    transform: perspective(500px) rotateY(5deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    -o-transform-origin: 0px 50%;
    -ms-transform-origin: 0px 50%;
    transform-origin: 0px 50%;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    -webkit-box-shadow:0px 8px 7px rgba(23, 24, 24, 0.44);
    -moz-box-shadow:0px 8px 7px rgba(23, 24, 24, 0.44);
    box-shadow: 0px 8px 7px rgba(23, 24, 24, 0.44);
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.perspective_main_back{

    -webkit-transform: perspective(0px) rotateY(0deg);
    -moz-transform: perspective(0px) rotateY(0deg);
    -o-transform: perspective(0px) rotateY(0deg);
    -ms-transform: perspective(0px) rotateY(0deg);
    transform: 0;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.duration{
    opacity: 1;
    /*min-height:100%;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact_form{
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    width:40%;
    position: fixed;
    z-index: 9999;
    top:0;
    right:-40%;
    padding:25px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.2s ease;
}


.topmenu{
    z-index: 1000;
    position: fixed;
    width: auto;
    display: block;
    color: white;
    padding-top:15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: inherit;
}
/*
.navbar-collapse{
    border-color: #e7e7e7;
    background-color:rgba(23, 60, 78, 0.8);
}*/

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
    color: rgba(255, 255, 255, 0.80);
    /*padding: 20px 25px;*/
    font-size: 16px;
    text-shadow: none;
    position: relative;
}

.topmenu li a:hover, .topmenu li a.active,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: rgb(255, 255, 255);
    background: inherit;
}

.logotype{
    background: url("/public/abtemplate/images/logo.png") no-repeat;
    height: 70px;
    width: 80px;
    display: block;
    float: left;
    position: relative;
    top: -5px;
}

.marginleft20{
    margin-left:20px;
}

.margintop7{
    margin-top:7px;
}

.margintop10{
    margin-top:10px;
}


.margintop{
    height: 87px;
}



.filters{
    padding:15px;
}



ul.contacts li{
    list-style: none;
    float: left;
}


/*********************************************************************/


.list_none_lang{
    list-style: none;
    position: relative;
}

.left_lang li{
    float: left;
    margin-left:5px;

}

.left_lang img{
    width:48px;
}

.left_lang img{
     -webkit-filter: grayscale(50%);
     -moz-filter: grayscale(50%);
     -o-filter: grayscale(50%);
     -ms-filter: grayscale(50%);
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
     opacity: 0.8;
 }

.left_lang img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}

/*********************************************************************/

.margin0{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

li.item{
    margin:20px;
}

.portfolio_image_wrap{
    overflow: hidden;
}


.portfolio{
    padding:15px;
}

.portfolio ul{
    list-style: none;
}

.portfolio_stack{
    width: 100%;
}


.portfolio_image_wrap, .description_portfolio{
    height:300px;
}

.cover_portfolio{
    height:300px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 22px -6px #888;
}



.portfolio_image_wrap .cover_portfolio:hover{


    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    /* -webkit-transform: scale(1.1, 1.1); */

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.description_portfolio{
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding-left: 30px;
    box-sizing: border-box;

    color: #2a2a2a;
    font-size: 14px;

}

.description_portfolio img{
    float: none;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    opacity: 0.6;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.description_portfolio img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}





.preview-separate {
    max-width: 70%;
    background: #f0f0f0;
    height: 1px;
    margin: 20px auto;
}

.portfolio_tip{
    font-size: 16px;
    color: #A5A5A5;
    text-align: center;
}

.section {
    text-align: center;
}



















.clear{
    clear: both;
    padding:10px;
}


ul.dots{
    list-style: none;
    padding: 0;
}

ul.dots a{
     float:left;
     margin-left: 10px;
     width: 25px;
     height: 25px;
     border:1px solid rgb(255, 255, 255);
 }

ul.dots a.active{
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
}

.arrow_right{
    float: right;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.arrow_left{
    float: left;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.slider{
    height: 99%;


}
.slider ul{
    margin-bottom: 0px;
}


.slide {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-position: center;

}
.cover{
    opacity: 1;
}

.navigator{
    position: absolute;
    z-index: 15;
    bottom: 6px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    left: 45%;
    padding-left: 10px;
}

.navigator-bar{
    position: relative;
    z-index: 20;
    background: #000000;
    width: 100%;
}

@media screen and (max-width:480px) {

    .content_slide h1{
        font-size: 25px;
        line-height: 30px;
        top:100px;
        left:10px;
        position: relative;
    }

    .content_slide h2{
        font-size: 15px;
        line-height: 20px;
        top:90px;
        left:10px;
        position: relative;
    }

    .content_slide h4{
        display: none;
    }
    .content_slide .buttons{
        display: none;
    }
}
@media screen and (min-width:480px) {
    .content_slide .relative{
        top:100px;
        position: relative;
    }
    .content_slide .buttons{
        top:150px;
        position: relative;
        left:30px;
    }

}
@media screen and (min-width:800px) {
    .content_slide .relative{
        top:200px;
        position: relative;

    }
    .content_slide .buttons{
        top:250px;
        position: relative;
        left:30px;

    }


}


.content_slide h1,.content_slide h2,.content_slide h3,.content_slide h4,.content_slide h5,.content_slide h6{
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    color: #fff;
    font-weight: 100;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.1);
    position: relative;
    line-height: 40px;

}

.back_slide{
    background-color: rgba(4, 80, 97, 0.23);
    height: 120%;
    position: fixed;
    width: 100%;
    top:-50px;
}

ul.slide{
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    height: 100%;
}

.animated-class-map,
.animated-class-map.ng-hide-remove.ng-hide-remove-active {
    -webkit-animation: fadeInX 1s;
    -moz-animation: fadeInX 1s;
    -ms-animation: fadeInX 1s;
    animation: fadeInX 1s;
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: perspective(800px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: perspective(800px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: perspective(800px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
    transform: perspective(800px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
    position: relative;
    float:right;
    right:10%;
}



.animated-class-map.ng-hide-add {
    -webkit-animation: fadeOut 0.1s;
    -moz-animation: fadeOut 0.1s;
    -ms-animation: fadeOut 0.1s;
    animation: fadeOut 0.1s;
    opacity: 0;
}



.animated-class,
.animated-class.ng-hide-remove.ng-hide-remove-active {
        -webkit-animation: fadeInLeft 1s;
        -moz-animation: fadeInLeft 1s;
        -ms-animation: fadeInLeft 1s;
        animation: fadeInLeft 1s;
        opacity: 1;
    }



.animated-class.ng-hide-add {
        -webkit-animation: fadeOut 0.1s;
        -moz-animation: fadeOut 0.1s;
        -ms-animation: fadeOut 0.1s;
        animation: fadeOut 0.1s;
        opacity: 0;
    }

.animated-class-right,
.animated-class-right.ng-hide-remove.ng-hide-remove-active {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
    opacity: 1;
    left: 5%;
    position: relative;
}



.animated-class-right.ng-hide-add {
    -webkit-animation: fadeOut 0.1s;
    -moz-animation: fadeOut 0.1s;
    -ms-animation: fadeOut 0.1s;
    animation: fadeOut 0.1s;
    opacity: 0;
    left: 5%;
    position: relative;
}


.slide.ng-hide-remove {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    display: block!important;

}

.slide.ng-hide-add
 {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    display: block!important;
}

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    /*-webkit-animation: mymove 0.2s linear 0s infinite alternate;*/
}

/* show */
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from   {top: 0px; left: 0px; -webkit-transform: scale(1);}
    50% {top: -400px; left: 400px; -webkit-transform: scale(0.5);}
    to  {top: -1000px; left: 1000px; -webkit-transform: scale(0.0); }

}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove_show {
    from   {top: 1500px; left: 1500px; -webkit-transform: scale(2.0);}
    50% {top: 1000px; left: 1000px; -webkit-transform: scale(1.5);}
    to  {top: 0px; left: 0px; -webkit-transform: scale(1); }

}

@media(min-width: 1500px){
    .slider_wrap{
        margin-top:100px;
    }

    .round-left, .round-right{

    }
}

.hr{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.cl_logo_wrap{
    height:60px;
    float: left;
}

.cl_logo_wrap img{
    margin-left: 15px;

}

.client_logo{
    margin-left: 20px;
    height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.7;
}

.client_logo:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}

.client_logo_fon{
    height: 120px;
    float: left;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    position: relative;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.client_logo_fon:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);


    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}

.clients{
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    color: #737373;
    padding-bottom: 15px;
}

.dark{
    background-color: rgba(43, 125, 143, 0.50);
    position: relative;
    color:rgba(255, 255, 255, 0.8);
    min-height: 300px;
}

.footer{
    background: rgba(15, 148, 187, 0.80);
    color:rgba(255, 255, 255, 0.8);
    position: relative;
}



















.animate-repeat {
    /*box-sizing:border-box;*/
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;

}

/**
 * Stagger Leave (hide) animation
 */
.animate-repeat.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}



.fa {
    margin-left: 3px;
    margin-right: 3px;
}


.modal-dialog{
    width: 90%;
    z-index: 9001;
    position: relative;
}


.store .content, .store .pt-footer {
    background: #F0AE49;
}

.store .title {
    background: #EAA439;
}


.corporate .content, .corporate .pt-footer {
    background: #69c869;
}

.corporate .title {
    background: #5dba5d;
}




.visit .content, .visit .pt-footer {
    background: #53CFE9;
}

.visit .title {
    background: #3EC6E0;
}

#modalPrice .modal-title{
    text-align: center;
}

#modalPrice .modal-header{
     border-bottom:none;
 }

#modalPrice .modal-body {
    padding: 0px;
}



h2.title {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.block-price p{
    margin: 0px;
    text-align: center;
}

.block-price ul{
    margin: 0px;
}

.fl {
    float: left;
}


.block-price {
    width: 30%;
    margin: 15px 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*background: #F2F2F2;*/
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
    /*border: 1px solid #F0F0F0;
    box-shadow: 0px 2px 15px rgba(207, 207, 207, 0.5);*/
    border: 1px solid rgba(232, 232, 232, 1);
    box-shadow: 2px 2px 4px rgba(29, 50, 56, 0.05);
}

.wrapper {

}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}

/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{
    font-size: 8rem;
    letter-spacing: 8px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -15px;
}
.hint{
    font-style: italic;
    font-size: 1.4rem;
}
hr.divider{
    margin: 5px;
}

.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #595959;
    padding: 10px 15%;
    font-size: 1.5rem;
}
.features li{
    padding:5px 0;
    width: 100%;
}
.features li span{
    padding-right: 0.4rem;
}

.block-price .content {
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
    text-align: center;
}

.pt-footer {
    font-size: 0.95rem;
    text-transform: capitalize;
}
.title, .pt-footer {
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}


